body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:787px;
}
#u621 {
  position:absolute;
  left:124px;
  top:644px;
  width:849px;
  height:787px;
}
#u622 {
  position:absolute;
  left:2px;
  top:386px;
  width:845px;
  visibility:hidden;
  word-wrap:break-word;
}
